extends base.pug

block head
    h1 Update Information

block content
    form(method="POST", action="/update_process")
        input(placeholder="학번", required, type="text", name="STnumber")
        input(type='submit', value='Submit')
